@page "/pizza"
 @*TODO - Demo CodeBehind: Inherit from base class*@
@inherits PizzaBase

<div class="main">
    <ul class="pizza-cards">
        @if (specials != null)
        {
            @foreach (var special in specials)
            {
                <li style="background-image: url('@special.ImageUrl');color:red;">
                    <div class="pizza-info">
                        <span class="title">@special.Name</span>
                        @special.Description
                        <span class="price">@special.GetFormattedBasePrice()</span>
                    </div>
                </li>
            }
        }
    </ul>
</div>

@*TODO - Demo CodeBehind: Move this to the code behind*@
@*@code {
        List<PizzaSpecial> specials;

         protected override void OnInitialized()
        {
            specials = new List<PizzaSpecial>()
            {
                new PizzaSpecial()
                {
                    Id = 1,
                    Name = "Pepperoni",
                    BasePrice = 15,
                    Description = "Pepperoni",
                    ImageUrl = "images/Pepperoni.jpg"
                },

                new PizzaSpecial()
                {
                    Id = 2,
                    Name = "Blaze Pizza",
                    BasePrice = 10,
                    Description = "Blaze Pizza",
                    ImageUrl = "images/Blaze Pizza.PNG"
                }
            };
        }
    }*@


