@page "/ParentComponent"

<h1>Parent-child example</h1>

<!--TODO: EventCallback - Callback Method provided to the child component-->
<ChildComponent Title="Panel Title from Parent"
                OnClick="ShowMessage">
    Content of the child component is supplied
    by the parent component.
</ChildComponent>

<p><b>@messageText</b></p>

@code {
    private string messageText;

    private void ShowMessage(MouseEventArgs e)
    {
        messageText = $"Message displayed in parent in response to the event triggered from the child component. Blaze a new trail with Blazor! ({e.ScreenX}, {e.ScreenY})";
    }
}