@page "/PreventDefaultAction"

<!-- TODO: Prevent default actions -->
<label>Responds to the + key only. Increments on each press of the + key: </label>
<input value="@_count" @onkeypress="KeyHandler" @onkeypress:preventDefault />


@code {
    private int _count = 0;

    private void KeyHandler(KeyboardEventArgs e)
    {
        if (e.Key == "+")
        {
            _count++;
        }
    }
}