@page "/stopeventpropagation"

Open the F12 tools and navigate to the console tab to see the messages there
<br />
<br />

<label>
    <input @bind="_stopPropagation" type="checkbox" />
    Stop Propagation
</label>

<div @onclick="OnClickingParentDiv">
    <h3>Parent div</h3>

    <div @onclick="OnClickingChildDiv">
        Child div that doesn't stop propagation when checkbox is selected.
    </div>

    <div @onclick="OnClickingChildDiv" @onclick:stopPropagation="_stopPropagation">
        Child div that stops propagation when checkbox is selected.
    </div>
</div>

@code {
    private bool _stopPropagation = false;

    private void OnClickingParentDiv() =>
        Console.WriteLine($"The parent onclick event was triggered. {DateTime.Now}");

    private void OnClickingChildDiv() =>
        Console.WriteLine($"A child onclick event was triggered. {DateTime.Now}");
}