@inherits LayoutComponentBase

<div class="sidebar">
    My cool layout doesn't have a menu'
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>

    <div>
        <a href="/">Go Back</a>
    </div>

</div>
