@page "/"

@using Microsoft.Extensions.Configuration
@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@inject IConfiguration Configuration
@inject IWebAssemblyHostEnvironment HostEnvironment

<h1>Configuration example</h1>

<p>@Configuration["BackendUrl"]</p>



<h1>Environment example</h1>

<p>Environment: @HostEnvironment.Environment</p>